Source: android-udev-rules
Section: developer-tools
Priority: extra
Maintainer: Simon Sickle <simon@simonsickle.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Vcs-Git: https://github.com/M0Rf30/android-udev-rules.git

Package: android-udev-rules
Architecture: any
Suggests: android-tools-adb, android-tools-fastboot
Description: Udev rules to connect Android devices to your linux box
