name: Verify rules

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    container: docker.io/archlinux:latest
    steps:
      - uses: actions/checkout@v6

      - name: Test 51-android.rules
        run: |
          groupadd -r adbusers
          udevadm verify 51-android.rules
